:root {
  --blanco: #ffffff;
  --gris1: #edf2f6;
  --gris2: #2f3848;
  --gris3: #1a202d;
  --negro: #000000;
}

.container {
  margin: 1rem;
  padding: 5rem;
}

.form-usuario {
  min-height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sombra-dark {
  -webkit-box-shadow: 0px 6px 11px -8px rgba(0,0,0,0.9);
  -moz-box-shadow: 0px 6px 11px -8px rgba(0,0,0,0.9);
  box-shadow: 0px 6px 11px -8px rgba(0,0,0,0.9);
}

.contenedor-form {
  padding: 5rem 3rem;
  max-width: 500px;
  width: 95%;
  background-color: var(--blanco);
  border-radius: 1rem;
  margin: auto;
}

.campo-form {
  display: flex;
  margin-bottom: 2rem;
  align-items: center;
}

.campo-form:last-of-type {
  margin: 0;
}

.campo-form label {
  flex: 0 0 100px;
}

.campo-form input[type="password"],
.campo-form input[type="email"], 
.campo-form input[type="text"] {
  border: 1px solid #e1e1e1;
  padding: 1rem;
  flex: 1;
}

.enlace-cuenta {
  margin-top: 2rem;
  display: block;
  opacity: .7;
  color: rgb(48, 48, 247);
  font-weight: bold;
}

/*botones*/
.btn {
  margin-top: 2rem;
  margin-left: 1rem;
  padding: 1.5rem;
  font-size: 1.4;
  font-weight: 400;
  border-radius: .5rem;
  border: none;
  transition: background-color .3s ease;
}

.btn:hover {
  cursor: pointer;
}

.btn-primario {
  background-color: var(--gris2);
  color: var(--blanco);
}

.btn-primario:hover {
  background: var(--gris3);
}

.btn-blank {
  margin: .3rem;
  padding: .3rem;
  display: block;
  border: #3a3838 1px solid;
  background-color: transparent;
}
/*fin botones */

/* alertas */
.alerta {
  position: fixed;
  top: 6rem;
  left: 0;
  padding: 1rem 3rem;
  border-radius: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1.2rem;
  text-align: center;
  width: 100%;
}

@media (min-width:768px) {
  .alerta {
      width: auto;
      top: 4rem;
      right: 10px;
      left: auto;
  }
}

.alerta-ok {
  background-color: rgb(109, 211, 109);
  color: rgb(2, 103, 2);
}

.alerta-error {
  background-color: rgb(230, 78, 78);
  color: var(--blanco);
}

.mensaje {
  font-weight: 900;
  font-family: var(--textFont);
  font-size: 1rem;
  padding: .5rem;
  border-radius: .5rem;
  cursor: pointer;
  border: none;
}

.mensaje {
  text-align: center;
  text-transform: uppercase;
  font-size: 1.2rem;
  border-radius: 0;
  max-width: 500px;
}

.mensaje:hover {
  cursor: default;
}

.correcto {
  background-color: rgba(154, 252, 154, .3);
  color: var(--gris3);
}

.error {
  background-color: rgb(170, 0, 0);
  color: var(--blanco);
}

/* fin alertas */

/* Formulario sucursal*/
.formulario-nuevo-producto .input-text,
.formulario-nueva-sucursal .input-text {
  border-bottom: 1px solid var(--gris2);
  border-radius: 3px;
  background-color: var(--gris1);
  margin-right: 2rem;
  height: 3rem;
  min-width: 12rem;
}

.formulario-nuevo-producto .input-text::placeholder,
.formulario-nueva-sucursal .input-text::placeholder {
  color: var(--gris2);
}
/* fin formulario sucursal*/

.contenedor-tabla {
  margin: 0 10%;
}

.tabla-ventas {
  margin-top: 5rem!important;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(230, 219, 219);
  color: #3a3838;
  text-align: center;
  padding: .5rem;
  font-size: 12px;
  margin-bottom: .5rem;
}